// ╭──┬──┬──┬──┬──╮        ╭──┬──┬──┬──┬──╮
// | 0| 1| 2| 3| 4|        | 5| 6| 7| 8| 9|
// |10|11|12|13|14|        |15|16|17|18|19|
// |20|21|22|23|24|        |25|26|27|28|29|
// ╰──┴──┴──┼──┼──┼──╮  ╭──┼──┼──┼──┴──┴──╯
//          |30|31|32|  |33|34|35|
//          ╰──┴──┴──╯  ╰──┴──┴──╯
#define KEYS_L 0 1 2 3 4 10 11 12 13 14 20 21 22 23 24  // left-hand keys
#define KEYS_R 5 6 7 8 9 15 16 17 18 19 25 26 27 28 29  // right-hand keys
#define THUMBS 30 31 32 33 34 35                        // thumb keys

mtl: mod_tap_left {
    compatible = "zmk,behavior-hold-tap";
    label = "MOD_TAP_LEFT";
    #binding-cells = <2>;
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <175>;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_R THUMBS>;
    hold-trigger-on-release;
    global-quick-tap;
};
mtr: mod_tap_right {
    compatible = "zmk,behavior-hold-tap";
    label = "MOD_TAP_RIGHT";
    #binding-cells = <2>;
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <175>;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
    hold-trigger-on-release;
    global-quick-tap;
};
mol: mo_tap_left {
    compatible = "zmk,behavior-hold-tap";
    label = "MOD_TAP_LEFT";
    #binding-cells = <2>;
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <175>;
    bindings = <&mo>, <&kp>;
    hold-trigger-on-release;
    global-quick-tap;
};