SLRU: SLRU { // switch language RU
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings
        = <&macro_tap &to RUS>
        , <&macro_tap &kp LS(LA(LC(Y)))>
        ;
};

SLEN: SLEN { // switch language EN
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings
        = <&macro_tap &to QWE>
        , <&macro_tap &kp LS(LA(LC(I)))>
        ;
};
