#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define QWE 0
#define RUQ 1
#define NAV 2
#define FNAV 3
#define SYM 4
#define NUM 5
#define FUN 6

#define ____ &trans
#define XXXX &none

/ {
    combos {
        #include "combos.dtsi"
    };

    macros {
        #include "macros.dtsi"
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        number {
            if-layers = <NAV SYM>;
            then-layer = <NUM>;
        };
        function {
            if-layers = <FNAV SYM>;
            then-layer = <FUN>;
        };
    };
    keymap {
        compatible = "zmk,keymap";
        qwerty {
            label = "QWE";
            bindings = <
// ╭────────────┬────────────┬────────────┬────────────┬────────────╮                            ╭────────────┬────────────┬────────────┬────────────┬────────────╮
    &kp Q        &kp W        &kp E        &kp R        &kp T                                     &kp Y        &kp U        &kp I        &kp O        &kp P
    &kp A        &kp S        &kp D        &kp F        &kp G                                     &kp H        &kp J        &kp K        &kp L        XXXX
    &kp Z        &kp X        &kp C        &kp V        &kp B                                     &kp N        &kp M        XXXX         XXXX         XXXX
// ╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────╮  ╭────────────┼────────────┼────────────┼────────────┴────────────┴────────────╯
                                           &kp LSHIFT   &mo SYM      &kp SPACE       &kp BSPC     &mo NAV      &kp RET
//                                        ╰────────────┴────────────┴────────────╯  ╰────────────┴────────────┴────────────╯
            >;
        };
        ru_qwerty {
            label = "RUQ";
            bindings = <
// ╭────────────┬────────────┬────────────┬────────────┬────────────╮                            ╭────────────┬────────────┬────────────┬────────────┬────────────╮
    &kp Q        &kp W        &kp E        &kp R        &kp T                                     &kp Y        &kp U        &kp I        &kp O        &kp P
    &kp A        &kp S        &kp D        &kp F        &kp G                                     &kp H        &kp J        &kp K        &kp L        &kp SEMI
    &kp Z        &kp X        &kp C        &kp V        &kp B                                     &kp N        &kp M        &kp COMMA    &kp DOT      &kp APOS
// ╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────╮  ╭────────────┼────────────┼────────────┼────────────┴────────────┴────────────╯
                                           &kp LSHIFT   &SYMRU       &kp SPACE       &kp BSPC     &mo NAV      &kp RET
//                                        ╰────────────┴────────────┴────────────╯  ╰────────────┴────────────┴────────────╯
            >;
        }; 
        navigation {
            label = "NAV";
            bindings = <
// ╭────────────┬────────────┬────────────┬────────────┬────────────╮                            ╭────────────┬────────────┬────────────┬────────────┬────────────╮
    &kp ESC      XXXX         XXXX         XXXX         XXXX                                      &SLRU        XXXX         &SLEN        XXXX         XXXX
    &mo FNAV     XXXX         XXXX         &sk LALT     XXXX                                      &kp LEFT     &kp DOWN     &kp UP       &kp RIGHT    XXXX
    &sk LCTRL    XXXX         XXXX         &kp LC(C)    &kp LC(V)                                 XXXX         XXXX         XXXX         XXXX         XXXX
// ╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────╮  ╭────────────┼────────────┼────────────┼────────────┴────────────┴────────────╯
                                           ____         ____         &kp TAB         ____         XXXX         ____
//                                        ╰────────────┴────────────┴────────────╯  ╰────────────┴────────────┴────────────╯
            >;
        };
        fast_navigation {
            label = "FNAV";
            bindings = <
// ╭────────────┬────────────┬────────────┬────────────┬────────────╮                            ╭────────────┬────────────┬────────────┬────────────┬────────────╮
    &trans       &none        &none        &none        &none                                     &none        &none        &none        &none        &none
    &none        &none        &none        &trans       &none                                     &kp HOME     &kp PGDN     &kp PGUP     &kp END      &none 
    &trans       &none        &none        &none        &none                                     &none        &none        &none        &none        &none
// ╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────╮  ╭────────────┼────────────┼────────────┼────────────┴────────────┴────────────╯
                                           &trans       &none        &none           &trans        &trans       &none
//                                        ╰────────────┴────────────┴────────────╯  ╰────────────┴────────────┴────────────╯
            >;
        };
        symbols {
            label = "SYM";
            bindings = <
// ╭────────────┬────────────┬────────────┬────────────┬────────────╮                            ╭────────────┬────────────┬────────────┬────────────┬────────────╮
    // &kp TILDE    &kp DQT      &kp DLLR     &kp UNDER    &kp CARET                                 &kp BSLH     &kp PLUS     &kp STAR     &kp FSLH     &kp GRAVE
    &kp TILDE    &kp PIPE     &kp AMPS     &kp UNDER    &kp CARET                                 &kp PLUS     &kp N7       &kp N8       &kp N9       &kp GRAVE
    // &mt BKT      &mt BRC      &mt PAR      &kp HASH     &kp SEMI                                  &kp AMPS     &kp EQUAL    &kp MINUS    &kp COLON    &kp APOS
    &kp SEMI     &kp COMMA    &kp BSLH     &kp HASH     &kp COLON                                 &kp EQUAL    &kp N4       &kp N5       &kp N6       &mt DQT APOS
    // &kp PRCNT    &kp AT       &none        &kp LT       &kp GT                                    &kp PIPE     &kp EXCL     &kp COMMA    &kp DOT      &kp QMARK
    &kp PRCNT    &kp AT       &kp EXCL     &kp QMARK    &mt GT LT                                 &kp MINUS    &kp N1       &kp N2       &kp N3       &kp DOT
// ╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────╮  ╭────────────┼────────────┼────────────┼────────────┴────────────┴────────────╯
                                           &kp DLLR     XXXX         XXXX            &kp FSLH     &kp STAR     &kp N0
//                                        ╰────────────┴────────────┴────────────╯  ╰────────────┴────────────┴────────────╯
            >;
        };
        numbers {
            label = "NUM";
            bindings = <
// ╭────────────┬────────────┬────────────┬────────────┬────────────╮                            ╭────────────┬────────────┬────────────┬────────────┬────────────╮
    &none        &none       &none         &none        &none                                     &kp N7       &kp N8       &kp N9       &none        &none
    &mo FUN      &none       &none         &none        &none                                     &kp N4       &kp N5       &kp N6       &kp N0        &none
    &none        &none       &none         &none        &none                                     &kp N1       &kp N2       &kp N3       &kp DOT      &none
// ╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────╮  ╭────────────┼────────────┼────────────┼────────────┴────────────┴────────────╯
                                           &none        &none        &none           &none        &none        &none
//                                        ╰────────────┴────────────┴────────────╯  ╰────────────┴────────────┴────────────╯
            >;
        };
        function {
            label = "FUN";
            bindings = <
// ╭────────────┬────────────┬────────────┬────────────┬────────────╮                            ╭────────────┬────────────┬────────────┬────────────┬────────────╮
    &none        &none       &none         &none        &none                                     &kp F7       &kp F8       &kp F9       &kp F10      &none
    &none        &none       &none         &none        &none                                     &kp F4       &kp F5       &kp F6       &kp F11      &none
    &none        &none       &none         &none        &none                                     &kp F1       &kp F2       &kp F3       &kp F12      &none
// ╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────╮  ╭────────────┼────────────┼────────────┼────────────┴────────────┴────────────╯
                                           &none        &none        &none           &none        &none        &none
//                                        ╰────────────┴────────────┴────────────╯  ╰────────────┴────────────┴────────────╯
            >;
        };
    };
};
